<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Website Portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
      <div class="container px-4 py-5" id="hanging-icons">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="row">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <img src="static/hardwork.png" alt="Hardwork" width="35" height="35">
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Hardworking</h3>
          <p>I am a hardworking and driven person. Once I set my mind to something I ensure that I will reach my goal. I taught myself how to code through determination and hard work.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <img src="static/learn.png" alt="Learner" width="35" height="35">
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Fast Learner</h3>
          <p>I am a very fast learner, and I am quickly able to grasp onto new concepts and remember them. I am eager to learn new things every day and to broaden my horizons.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <img src="static/teamwork.png" alt="Team Player" width="35" height="35">
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Team Player</h3>
          <p>I work well in teams, and I am very good with people. My communication skills are excellent, and I never struggle to communicate what I need or expect from a team member.</p>
        </div>
      </div>
    </div>

  </body>