<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Website Portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
<section class="py-5 text-center container bg-danger-subtle">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">A Collection Of My Work</h1>
        <p class="lead text-body-secondary">The collection below is of some projects I have built over my time studying to become a python developer, as well as projects that I have created on my own. I have included screenshots and short descriptions to give a basic idea of my capabilities.</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
          <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="static/snake_game_2.png" alt="Thumbnail">
            <div class="card-body">
              <p class="card-text">The classic Snake game that can keep track of all time high scores.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
          <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="static/password_manager.png" alt="Thumbnail">
            <div class="card-body">
              <p class="card-text">A password manager that allows you to save passwords to a text file as well as to generate and search for passwords that have been created and saved.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
          <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="static/etch_a_sketch.png" alt="Thumbnail">
            <div class="card-body">
              <p class="card-text">An Etch a Sketch game that allows you to emulate the classic Etch a Sketch boards we all had as kids.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
          <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="static/flash_card.png" alt="Thumbnail">
            <div class="card-body">
              <p class="card-text">A flash card program to help you study spanish words. It contains a right or wrong button so that you can revisit the ones you do not know. </p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
          <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="static/habit_tracker.png" alt="Thumbnail">
            <div class="card-body">
              <p class="card-text">A habit tracker to track certain activities done in a day and for how long. This data will then be uploaded to Pixela to provide visual feedback.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
          <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="static/move_with_joy.png" alt="Thumbnail">
            <div class="card-body">
              <p class="card-text">A dummy website for a moving company called Move With Joy. Github link: https://github.com/DiscoKitti/move_with_joy_website.git</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
          <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="static/quiz_app.png" alt="Thumbnail">
            <div class="card-body">
              <p class="card-text">An app for common knowledge quiz questions. It can keep track of score, and will show you whether your answer is correct or not.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
          <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="static/tindog.png" alt="Thumbnail">
            <div class="card-body">
              <p class="card-text">A website based Tinder for dogs. Github link: https://github.com/DiscoKitti/tindog_website.git</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
          <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="static/top_movies.png" alt="Thumbnail">
            <div class="card-body">
              <p class="card-text">A website that contains some of my top movies of all time. Github link: https://github.com/DiscoKitti/top_10_movies_website.git</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </body>